h1 {
	/*text-align:center;*/
	color: #919191;
	font-family: Gilroy; 
  vertical-align: bottom;
}
.t{
  font-size: 20px;
}

.header {
  position: relative;
  top: 0;
  left: 0;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.t:hover{
  font-style: bold;
}

body {
  font-family: Inconsolata;
  font-family: Inconsolata;

}

.link {
    font-size: 20px;
}

.resume {

    color: #B3B3B3;
}
.resume:hover {
    color:  #919191;
    opacity: 0.9;
    font-style: bold;
}

p {
	color: black;
	font-size: 150%;
}
