.t{
  font-size: 18px;
}
.pronunciation {
  font-size: 125%;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
  padding-top: 1%;
}

.definition{
  list-style-type:none;
  padding-left: 37.5%;
}

.name{
  font-size: 400%;
  text-shadow: 2px 2px 2px gray;
}
.link {
  color: black;
}
.link:hover {
  color: #3a3940;
  opacity: 0.9;
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
  text-shadow: 2px 2px 2px #B3B3B3;
}
